
:root {
    --color-white: #ffffff;
    --color-gray: #cccccc;
    --color-black: #000000;
    --color-pink: #ff248c;
    --color-pink-hover: #ff5ea4;
    --color-bg-dark: #131125;
    --color-font-body: #9894be;
    --color-bg-about: #211f3e;
    --font-size-h2: 72px;
    --font-size-h3: 48px;
    --font-size-h4: 30px;
    --font-size-h5: 24px;
    --font-size-h6: 18px;
    /*background #262243*/
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 20px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
}

h2 {
    font-size: var(--font-size-h2);
}
h3 {
    font-size: var(--font-size-h3);
}
h4 {
    font-size: var(--font-size-h4);
}
h5 {
    font-size: var(--font-size-h5);
}
h6 {
    font-size: var(--font-size-h6);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}