/* Variables */
:root {
    --color-white: #ffffff;
    --color-gray: #cccccc;
    --color-black: #000000;
    --color-pink: #ff248c;
    --color-pink-hover: #ff5ea4;
    --color-bg-dark: #131125;
    --color-font-body: #9894be;
    --color-bg-about: #211f3e;
    --font-size-h2: 72px;
    --font-size-h3: 48px;
    --font-size-h4: 30px;
    --font-size-h5: 24px;
    --font-size-h6: 18px;
    /*background #262243*/
}

/* Reset */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 20px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
}

h2 {
    font-size: var(--font-size-h2);
}
h3 {
    font-size: var(--font-size-h3);
}
h4 {
    font-size: var(--font-size-h4);
}
h5 {
    font-size: var(--font-size-h5);
}
h6 {
    font-size: var(--font-size-h6);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* Utilidades */
.container {
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.d-flex {
    display: flex;
}

.fd-column {
    flex-direction: column;
}

.fd-row {
    flex-direction: row;
}

.gap-1 {
    gap: 1rem;
}

.gap-05 {
    gap: .5rem;
}

.caja-1{
    background-color: royalblue;
    border: 3px tomato solid;
}
.caja-2{
    /* background-color: rebeccapurple; */
    border: 3px tomato solid;
}
.caja-3{
    background-color: red;
    border: 3px tomato solid;
}

/* Seciones */
.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url(../assets/hero-bg-opacity.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero > .container {
    min-height: 100vh;
    justify-content: space-around;
}

.header {
    justify-content: center;
    align-items: center;
}

.header-logo img {
    width: 60px;
}

.header-menu,
.header-social {
    width: 100%;
    justify-content: space-between;
    font-size: calc(var(--font-size-h6) - 2px);
}

.header-social {
    justify-content: center;
    font-size: var(--font-size-h5);
}

.menu-link {
    color: var(--color-font-body);
}

.social-link {
    color: var(--color-white);
}

.menu-link:hover {
    color: var(--color-white);
}

.social-link:hover {
    color: var(--color-pink);
}


@media screen and (min-width:768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-menu {
        flex-grow: 1;
        justify-content: center;
        gap: 1rem;
    }

    .header-logo,
    .header-social {
        flex-basis: 10%;
    }
}

@media screen and (min-width:1024px) {
    
}