/* Variables */
:root {
    --color-white: #ffffff;
    --color-gray: #cccccc;
    --color-black: #000000;
    --color-pink: #ff248c;
    --color-pink-hover: #ff5ea4;
    --color-bg-dark: #131125;
    --color-font-body: #9894be;
    --color-bg-about: #211f3e;
    --font-size-h2: 72px;
    --font-size-h3: 48px;
    --font-size-h4: 30px;
    --font-size-h5: 24px;
    --font-size-h6: 18px;
    /*background #262243*/
}

/* Reset */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 20px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
}

h2 {
    font-size: var(--font-size-h2);
}
h3 {
    font-size: var(--font-size-h3);
}
h4 {
    font-size: var(--font-size-h4);
}
h5 {
    font-size: var(--font-size-h5);
}
h6 {
    font-size: var(--font-size-h6);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* Utilidades */
.container {
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/* Seciones */

/* HERO */

.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url(../assets/hero-bg-opacity.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero > .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.hero-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.hero-logo {
    width: 18%;
}

.hero-menu,
.hero-social {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.hero-social {
    gap: 1rem;
}

.hero-social a {
    width: 1.25rem;
}

.hero-menu-link {
    color: var(--color-font-body);
    font-size: var(--font-size-h6);
}

.hero-menu-link:hover {
    color: var(--color-white);
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.hero-img img {
    margin-left: 10%;
    width: 175%;
}


.hero-title h2{
    color: var(--color-white);
    font-size: var(--font-size-h4);
    text-align: center;
}

.hero-description {
    font-size: var(--font-size-h6);
    color: var(--color-font-body);
    text-align: center;
}